clusterForge:
  repoUrl: "https://github.com/silogen/cluster-forge.git"
  targetRevision: creating_small_configuration
  # feature-branch name to be provided by developer
  valuesFile: values_dev.yaml

externalValues:
  enabled: false

global:
  domain: localhost 
    # to be provided by developer

enabledApps:
  - argocd
  - argocd-config
  - cert-manager
  - openbao
  - openbao-config
  - external-secrets
  - external-secrets-config
  - gateway-api
  - metallb
  - kgateway-crds
  - kgateway
  - kgateway-config
  - prometheus-crds
  - opentelemetry-operator
  - otel-lgtm-stack
  - cnpg-operator
  - cluster-auth
  - cluster-auth-config
  - keycloak
  - kyverno
  - kyverno-config
  - kuberay-operator
  - keda
  - kedify-otel
  - kserve-crds
  - kserve
  - rabbitmq
  - kueue
  - kueue-config
  - appwrapper
  - minio-operator
  - minio-tenant
  - minio-tenant-config
  - kaiwo-crds
  - kaiwo
  - kaiwo-config
  - airm
apps:
  openbao:
    path: openbao/0.18.2
    namespace: cf-openbao
    valuesFile: ../values_dev.yaml
    syncWave: -3
  airm:
    path: airm/0.3.0
    namespace: airm
    valuesFile: values.yaml
    helmParameters:
      - name: airm-api.airm.appDomain
        value: "{{ .Values.global.domain }}"
    syncWave: 0
    ignoreDifferences:
      - group: external-secrets.io
        kind: ExternalSecret
        jqPathExpressions:
          - ".spec.data[].remoteRef.conversionStrategy"
          - ".spec.data[].remoteRef.decodingStrategy"
          - ".spec.data[].remoteRef.metadataPolicy"
      - group: kyverno.io
        kind: ClusterPolicy
        jqPathExpressions:
          - ".spec.rules"
  minio-operator:
    path: minio-operator/7.1.1
    namespace: minio-operator
    valuesFile: values.yaml
    helmParameters:
      - name: operator.replicaCount
        value: "1"
    syncWave: -3
  airm:
    path: airm/0.3.0
    namespace: airm
    valuesFile: values.yaml
    helmParameters:
      - name: airm-api.airm.appDomain
        value: "{{ .Values.global.domain }}"
    syncWave: 0
    ignoreDifferences:
      - group: external-secrets.io
        kind: ExternalSecret
        jqPathExpressions:
          - ".spec.data[].remoteRef.conversionStrategy"
          - ".spec.data[].remoteRef.decodingStrategy"
          - ".spec.data[].remoteRef.metadataPolicy"
      - group: kyverno.io
        kind: ClusterPolicy
        jqPathExpressions:
          - ".spec.rules"