clusterForge:
  repoUrl: "https://github.com/silogen/cluster-forge.git"
  targetRevision: main # cluster-forge version git tag
  valuesFile: values.yaml

# source helm values file from separate git repo
externalValues:
  enabled: false
#  repoUrl: # define if enabled
  targetRevision: main
  path: values.yaml

global:
  domain: app.silogen.ai

enabledApps:
  - argocd
  - argocd-config
  - cert-manager
  - openbao
  - openbao-config
  - external-secrets
  - external-secrets-config
  - gitea
  - gitea-config
  - gateway-api
  - metallb
  - kgateway-crds
  - kgateway
  - kgateway-config
  - prometheus-crds
  - opentelemetry-operator
  - otel-lgtm-stack
  - cnpg-operator
  - keycloak
  - kyverno
  - amd-gpu-operator
  - amd-gpu-operator-config
  - kuberay-operator
  - rabbitmq
  - kueue
  - kueue-config
  - appwrapper
  - minio-operator
  - minio-tenant
  - minio-tenant-config
  - kaiwo
  - kaiwo-config
  - airm

apps:

  # Core apps
  argocd:
    path: argocd/8.3.5
    namespace: argocd
    valuesFile: ../values_cf.yaml
    helmParameters:
      - name: global.domain
        value: "{{ .Values.global.domain }}"
      - name: configs.cm.oidc\.config
        value: |
          name: Keycloak
          issuer: https://kc.{{ .Values.global.domain }}/realms/airm
          clientID: argocd
          clientSecret: $$argocd-oidc-creds:client_secret
          requestedScopes: ["openid", "profile", "email", "groups"]
    syncWave: -3

  argocd-config:
    path: argocd-config
    namespace: argocd
    syncWave: -2
    ignoreDifferences:
      - group: external-secrets.io
        kind: ExternalSecret
        jqPathExpressions:
          - ".spec.data[].remoteRef.conversionStrategy"
          - ".spec.data[].remoteRef.decodingStrategy"
          - ".spec.data[].remoteRef.metadataPolicy"

  cert-manager:
    path: cert-manager/v1.18.2
    namespace: cert-manager
    valuesFile: ../values_cf.yaml
    syncWave: -3

  openbao:
    path: openbao/0.18.2
    namespace: cf-openbao
    valuesFile: ../values_cf.yaml
    syncWave: -3
    ignoreDifferences:
      - group: "apps"
        kind: "Deployment"
        jsonPointers:
          - /spec/replicas

  openbao-config:
    path: openbao-config
    namespace: cf-openbao
    syncWave: -2

  external-secrets:
    path: external-secrets/0.15.1
    namespace: external-secrets
    valuesFile: values.yaml
    syncWave: -3

  external-secrets-config:
    path: external-secrets-config
    namespace: external-secrets
    syncWave: -3

  gitea:
    path: gitea/12.3.0
    namespace: cf-gitea
    valuesFile: ../values_cf.yaml
    helmParameters:
      - name: clusterDomain
        value: "{{ .Values.global.domain }}"
      - name: gitea.config.server.ROOT_URL
        value: "https://gitea.{{ .Values.global.domain }}"
    syncWave: -3

  gitea-config:
    path: gitea-config
    namespace: cf-gitea
    syncWave: -2

  # Network apps
  gateway-api:
    path: gateway-api/v1.3.0
    namespace: default
    syncWave: -3

  metallb:
    path: metallb/v0.15.2
    namespace: default
    syncWave: -3

  kgateway-crds:
    path: kgateway-crds/v2.1.0-main
    namespace: kgateway-system
    valuesFile: values.yaml
    syncWave: -3

  kgateway:
    path: kgateway/v2.1.0-main
    namespace: kgateway-system
    valuesFile: ../values_cf.yaml
    syncWave: -2

  kgateway-config:
    path: kgateway-config
    namespace: kgateway-system
    valuesFile: values.yaml
    helmParameters:
      - name: domain
        value: "{{ .Values.global.domain }}"
    syncWave: -2

  # Monitoring
  prometheus-crds:
    path: prometheus-operator-crds/23.0.0
    namespace: prometheus-system
    valuesFile: values.yaml
    syncWave: -3

  opentelemetry-operator:
    path: opentelemetry-operator/0.93.1
    namespace: opentelemetry-operator-system
    valuesFile: values.yaml
    syncWave: -3

  otel-lgtm-stack:
    path: otel-lgtm-stack
    namespace: otel-lgtm-stack
    directory:
      recurse: true
    syncWave: -2

  # Databases
  cnpg-operator:
    path: cnpg-operator/0.26.0
    namespace: cnpg-system
    valuesFile: values.yaml
    syncWave: -3

  # Access control
  keycloak:
    path: keycloak-old
    namespace: keycloak
    valuesFile: values.yaml
    helmParameters:
      - name: domain
        value: "{{ .Values.global.domain }}"
    syncWave: -2
    ignoreDifferences:
      - group: external-secrets.io
        kind: ExternalSecret
        jqPathExpressions:
          - ".spec.data[].remoteRef.conversionStrategy"
          - ".spec.data[].remoteRef.decodingStrategy"
          - ".spec.data[].remoteRef.metadataPolicy"

  kyverno:
    path: kyverno/3.5.1
    namespace: kyverno
    valuesFile: values.yaml
    syncWave: -3

  # GPU
  amd-gpu-operator:
    path: amd-gpu-operator/v1.4.0
    namespace: kube-amd-gpu
    valuesFile: values.yaml
    syncWave: -1

  amd-gpu-operator-config:
    path: amd-gpu-operator-config
    namespace: kube-amd-gpu
    syncWave: -1

  kuberay-operator:
    path: kuberay-operator/1.4.2
    namespace: default
    valuesFile: values.yaml
    syncWave: -1

  # Queues
  rabbitmq:
    path: rabbitmq/v2.15.0
    namespace: rabbitmq-system
    syncWave: -1

  kueue:
    path: kueue/0.13.0
    namespace: kueue-system
    valuesFile: ../values_onenode.yaml
    syncWave: -1

  kueue-config:
    path: kueue-config
    namespace: kueue-system
    syncWave: -1

  appwrapper:
    path: appwrapper/v1.1.2
    namespace: appwrapper-system
    syncWave: -1

  # Storage
  minio-operator:
    path: minio-operator/7.1.1
    namespace: minio-operator
    valuesFile: values.yaml
    syncWave: -3

  minio-tenant:
    path: minio-tenant/7.1.1
    namespace: minio-tenant-default
    valuesFile: ../values_cf.yaml
    syncWave: -2

  minio-tenant-config:
    path: minio-tenant-config
    namespace: minio-tenant-default
    valuesFile: values.yaml
    helmParameters:
      - name: domain
        value: "{{ .Values.global.domain }}"
    syncWave: -1
    ignoreDifferences:
      - group: external-secrets.io
        kind: ExternalSecret
        jqPathExpressions:
          - ".spec.data[].remoteRef.conversionStrategy"
          - ".spec.data[].remoteRef.decodingStrategy"
          - ".spec.data[].remoteRef.metadataPolicy"

  # Kaiwo stuff
  kaiwo:
    path: kaiwo/v0.1.7
    namespace: kaiwo
    syncWave: -1

  kaiwo-config:
    path: kaiwo-config
    namespace: kaiwo
    syncWave: -1
    ignoreDifferences:
      - group: external-secrets.io
        kind: ExternalSecret
        jqPathExpressions:
          - ".spec.data[].remoteRef.conversionStrategy"
          - ".spec.data[].remoteRef.decodingStrategy"
          - ".spec.data[].remoteRef.metadataPolicy"

  # Airm stuff
  airm:
    path: airm
    namespace: airm
    valuesFile: values.yaml
    helmParameters:
      - name: airm-api.airm.appDomain
        value: "{{ .Values.global.domain }}"
    syncWave: 0
    ignoreDifferences:
      - group: external-secrets.io
        kind: ExternalSecret
        jqPathExpressions:
          - ".spec.data[].remoteRef.conversionStrategy"
          - ".spec.data[].remoteRef.decodingStrategy"
          - ".spec.data[].remoteRef.metadataPolicy"
      - group: kyverno.io
        kind: ClusterPolicy
        jqPathExpressions:
          - ".spec.rules[].skipBackgroundRequests"
