clusterForge:
  repoUrl: "https://github.com/silogen/cluster-forge.git"
  targetRevision: test-openbao-structure-reorganization # feature-branch name to be provided by developer
  valuesFile: values_dev.yaml

externalValues:
  enabled: false

global:
  domain: plat-dev-4.silogen.ai # to be provided by developer

enabledApps:
  - argocd
  - argocd-config
  - cert-manager
  - openbao
  - openbao-config
  - external-secrets
  - external-secrets-config
  - gitea
  - gitea-config
  - gateway-api
  - metallb
  - kgateway-crds
  - kgateway
  - kgateway-config
  - prometheus-crds
  - opentelemetry-operator
  - otel-lgtm-stack
  - cnpg-operator
  - cluster-auth
  - cluster-auth-config
  - keycloak
  - kyverno
  - kyverno-config
  - amd-gpu-operator
  - amd-gpu-operator-config
  - kuberay-operator
  - keda
  - kedify-otel
  - kserve-crds
  - kserve
  - rabbitmq
  - kueue
  - kueue-config
  - appwrapper
  - minio-operator
  - minio-tenant
  - minio-tenant-config
  - kaiwo-crds
  - kaiwo
  - kaiwo-config
  - airm
