clusterForge:
  repoUrl: "https://github.com/silogen/cluster-forge.git"
  targetRevision: v1.7.0 # cluster-forge version git tag
  valuesFile: values_s.yaml
# source helm values file from separate git repo
externalValues:
  enabled: false
  #  repoUrl: # define if enabled
  targetRevision: main
  path: values.yaml
global:
  domain: app.silogen.ai
enabledApps:
  - argocd
  - argocd-config
  - cert-manager
  - openbao
  - openbao-config
  - external-secrets
  - external-secrets-config
  - gitea
  - gitea-config
  - gateway-api
  - metallb
  - kgateway-crds
  - kgateway
  - kgateway-config
  - prometheus-crds
  - opentelemetry-operator
  - otel-lgtm-stack
  - cnpg-operator
  - cluster-auth
  - cluster-auth-config
  - keycloak
  - kyverno
  - kyverno-config
  - amd-gpu-operator
  - amd-gpu-operator-config
  - kuberay-operator
  - keda
  - kedify-otel
  - kserve-crds
  - kserve
  - rabbitmq
  - kueue
  - kueue-config
  - appwrapper
  - minio-operator
  - minio-tenant
  - minio-tenant-config
  - kaiwo-crds
  - kaiwo
  - kaiwo-config
  - airm
