# Dedicated OpenBao values for bootstrap
# Extracted from the openbao.valuesObject section of values.yaml
injector:
  enabled: false
server:
  affinity: |
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/name: openbao
                app.kubernetes.io/instance: openbao
                component: server
            topologyKey: kubernetes.io/hostname
  ha:
    enabled: false
    raft:
      enabled: false
    replicas: 1
ui:
  enabled: true