apps:
  minio-tenant:
    valuesObject:
      tenant:
        pools:
          - name: pool-0
            servers: 1
            size: 500Gi
            storageClassName: direct
            volumesPerServer: 1
  openbao:
    valuesObject:
      server:
        ha:
          enabled: true
          replicas: 3
          raft:
            enabled: true
