image:
  registry: docker.io
  repository: bitnamilegacy/keycloak

extraEnvVars:
  - name: KC_HOSTNAME
    value: "https://kc.{{ .Values.domain }}"
  - name: KC_PROXY
    value: edge
  - name: KC_HOSTNAME_STRICT
    value: "false"
  - name: KC_PROXY_HEADERS
    value: xforwarded

httpEnabled: true

service:
  ports:
    http: 8080

resources:
  requests:
    memory: "512Mi"
    cpu: "500m"
  limits:
    memory: "2Gi"
    cpu: "1000m"

podLabels:
  app: keycloak

auth:
  adminUser: silogen-admin
  existingSecret: "keycloak-credentials"
  passwordSecretKey: "KEYCLOAK_INITIAL_ADMIN_PASSWORD"

extraStartupArgs: "--cache=ispn --features=scripts,admin-fine-grained-authz,token-exchange --import-realm"

logging:
  output: default
  level: DEBUG

initContainers:
  - name: init-auth-extensions
    command:
      - /bin/sh
      - -c
      - |
        cd /opt/scripts
        zip -r /opt/bitnami/keycloak/providers/SilogenExtensionPackage.jar .
    image: ghcr.io/silogen/keycloak-init:0.1
    volumeMounts:
      - mountPath: /opt/bitnami/keycloak/providers
        name: empty-dir
        subPath: app-providers-dir
      - mountPath: /opt/scripts
        name: keycloak-script-volume
  - name: init-realm-scripts
    command:
      - /bin/sh
      - -c
      - |
        if [ -f "/opt/realm_templates/airm-realm.json" ]; then
            cp /opt/realm_templates/airm-realm.json /opt/bitnami/keycloak/data/import/airm-realm.json
            sed -i -e "s/__AIRM_FRONTEND_CLIENT_SECRET__/$AIRM_FRONTEND_CLIENT_SECRET/g" /opt/bitnami/keycloak/data/import/airm-realm.json
            sed -i -e "s/__AIRM_ADMIN_CLIENT_ID__/$AIRM_ADMIN_CLIENT_ID/g" /opt/bitnami/keycloak/data/import/airm-realm.json
            sed -i -e "s/__AIRM_ADMIN_CLIENT_SECRET__/$AIRM_ADMIN_CLIENT_SECRET/g" /opt/bitnami/keycloak/data/import/airm-realm.json
            sed -i -e "s/__AIRM_CI_CLIENT_SECRET__/$AIRM_CI_CLIENT_SECRET/g" /opt/bitnami/keycloak/data/import/airm-realm.json
            sed -i -e "s/__K8S_CLIENT_SECRET__/$K8S_CLIENT_SECRET/g" /opt/bitnami/keycloak/data/import/airm-realm.json
            sed -i -e "s/__MINIO_CLIENT_SECRET__/$MINIO_CLIENT_SECRET/g" /opt/bitnami/keycloak/data/import/airm-realm.json
            sed -i -e "s/__GITEA_CLIENT_SECRET__/$GITEA_CLIENT_SECRET/g" /opt/bitnami/keycloak/data/import/airm-realm.json
            sed -i -e "s/__ARGOCD_CLIENT_SECRET__/$ARGOCD_CLIENT_SECRET/g" /opt/bitnami/keycloak/data/import/airm-realm.json
            sed -i -e "s/__DEVUSER_INITIAL_PASSWORD__/$DEVUSER_INITIAL_PASSWORD/g" /opt/bitnami/keycloak/data/import/airm-realm.json
        else
            echo "Warning: /opt/realm_templates/airm-realm.json not found, skipping airm realm setup"
        fi
    image: ghcr.io/silogen/keycloak-init:0.1
    volumeMounts:
      - mountPath: /opt/realm_templates
        name: keycloak-realm-template-volume
      - mountPath: /opt/bitnami/keycloak/data/import
        name: keycloak-realm-volume
    env:
      - name: AIRM_FRONTEND_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            key: FRONTEND_CLIENT_SECRET
            name: airm-realm-credentials
      - name: AIRM_ADMIN_CLIENT_ID
        valueFrom:
          secretKeyRef:
            key: ADMIN_CLIENT_ID
            name: airm-realm-credentials
      - name: AIRM_ADMIN_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            key: ADMIN_CLIENT_SECRET
            name: airm-realm-credentials
      - name: AIRM_CI_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            key: CI_CLIENT_SECRET
            name: airm-realm-credentials
      - name: K8S_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            key: K8S_CLIENT_SECRET
            name: airm-realm-credentials
      - name: MINIO_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            key: MINIO_CLIENT_SECRET
            name: airm-realm-credentials
      - name: GITEA_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            key: GITEA_CLIENT_SECRET
            name: airm-realm-credentials
      - name: ARGOCD_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            key: ARGOCD_CLIENT_SECRET
            name: airm-realm-credentials
      - name: DEVUSER_INITIAL_PASSWORD
        valueFrom:
          secretKeyRef:
            key: KEYCLOAK_INITIAL_DEVUSER_PASSWORD
            name: airm-realm-credentials

extraVolumes:
  - name: keycloak-script-volume
    configMap:
      name: keycloak-scripts
      items:
        - key: keycloak-scripts.json
          path: META-INF/keycloak-scripts.json
        - key: domain-group-authenticator.js
          path: domain-group-authenticator.js
  - name: keycloak-realm-template-volume
    configMap:
      name: keycloak-realm-templates
  - name: keycloak-realm-volume
    emptyDir: {}

extraVolumeMounts:
  - mountPath: /opt/bitnami/keycloak/data/import
    name: keycloak-realm-volume

postgresql:
  enabled: false

externalDatabase:
  host: "keycloak-cnpg-rw.keycloak.svc.cluster.local"
  port: 5432
  database: keycloak
  schema: public
  existingSecret: "keycloak-cnpg-user"
  existingSecretUserKey: "username"
  existingSecretPasswordKey: "password"
